<div class="about-background header-active"></div>
<div class="container">
	<div class="col-lg-12">
		<div class="page-head">
	        <h1>About us</h1>
	        <p>Say hi, drop a letter, and follow us in social media websites.</p>
	    </div>
	</div>
</div>