<div class="about-background header-active"></div>
<div class="container">
	<div class="col-lg-12">
		<div class="page-head">
	        <h1>About us</h1>
	        <p>Say hi, drop a letter, and follow us in social media websites.</p>
	    </div>
	   <div class="wrapper">
	   		<div class="history-about">
	   			<h1>The first days</h1>
				<p>Computer technology revolutionized typography in the 20th century. Personal computers in the 1980s like the Macintosh allowed type designers to create types digitally using commercial graphic design software. Digital technology also enabled designers to create more experimental typefaces, alongside the practical fonts of traditional typography. Designs for typefaces could be created faster with the new technology, and for more specific functions. The cost for developing typefaces was drastically lowered, becoming widely available to the masses. The change has been called the “democratization of type” and has given new designers more opportunities to enter the field.</p>
				<p>Pellentesque ullamcorper erat non malesuada dictum. Cras nec dui metus. Nam non consequat turpis. Aenean ut arcu porttitor, auctor nibh tempor, interdum quam. Etiam eu vehicula magna. Quisque ut egestas sem. Phasellus rutrum, nibh et efficitur condimentum, eros erat pellentesque est, ut malesuada nunc magna vel velit. In hac habitasse platea dictumst. Praesent volutpat dignissim tortor dignissim imperdiet. Cras accumsan vulputate dolor, nec condimentum nulla tincidunt eu.</p>

				<h5>How we resolve it?</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in tristique odio. Quisque nec sollicitudin est. Sed vel malesuada diam. Donec laoreet scelerisque imperdiet. Sed eleifend porta lorem a dictum. Sed lorem lorem, rhoncus eget posuere eget, bibendum ut odio. Nulla lacinia nunc et fermentum lobortis. Fusce scelerisque, lacus tincidunt pellentesque luctus, tellus risus consectetur dui, ut accumsan tellus leo vel mauris. Aenean id tortor lacus.</p>

				<h5>What's our solution?</h5>
				<p>Quisque lobortis accumsan tempus. Mauris pretium neque eu posuere molestie. Maecenas tincidunt eleifend egestas. Vestibulum tellus augue, laoreet sit amet quam nec, pulvinar luctus nisl. In consequat elit et aliquet posuere. Mauris porttitor est a ipsum vehicula, non porttitor quam tincidunt. Proin id orci tortor. Integer sit amet enim a nisi sagittis ultrices. Sed efficitur feugiat lobortis. In in lorem mauris. Ut placerat velit ut ligula placerat, eu accumsan sapien luctus. Vivamus in est sit amet felis dictum dapibus. Sed et eros sed massa porttitor volutpat vel at orci. Proin et lacus molestie, bibendum nisi eu, bibendum velit.</p>	   			
	   		</div>
        </div>
	</div>
</div>
<div class="parallax-about">
	<div class="parallax">
		<div class="overlay-parallax"></div>
		<div class="info-parallax about-slider">
			<div class="slider-parallax">
				<h1>Mision</h1>
				<p>Ser la empresa líder en brindar servicios de asesoría en Recursos Humanos y
				Liderazgo a nivel nacional e internacional, creando una fuerte relación con nuestros
				clientes basados en la confianza y nuestros demás valores comerciales.</p>
			</div>
			<div class="slider-parallax">
				<h1>Vision</h1>
				<p>Brindar un servicio de alta calidad llevando a nuestros clientes las soluciones más
				eficientes según sus necesidades. Enfocarnos en cada detalle de nuestro servicio de
				manera que sea 100% personalizado.</p>
			</div>
		</div>
	</div>
</div>