<div class="about-background header-active"></div>
<div class="container">
	<div class="col-lg-12">
		<div class="page-head">
	        <h1>About us</h1>
	        <p>Say hi, drop a letter, and follow us in social media websites.</p>
	    </div>
	   <div class="wrapper">
	   		<div class="history-about">
	   			<h5>Primeros pasos...</h5>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Somos una empresa que se desarrolló bajo la necesidad de un cambio en la estructura de reclutamiento, enfoque de capital humano y del sentido de liderazgo en las empresas costarricenses. Tenemos experiencia y una visión
				muy real sobre estos servicios porque hemos estado trabajando bajo ambas perspectivas: las del contratante y las
				del trabajador. Es por esto que comprendemos el proceso y el corre-corre de las empresas y nos sensibilizamos
				también con las expectativas de los trabajadores, entendemos la relación que debe existir entre ambos y que el
				éxito se puede alcanzar si se desarrolla un proceso correcto desde el inicio.</p>

				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Somos una empresa joven pero con experiencia y muchas ganas de hacer las cosas bien, el punto de vista de
				cada uno de nuestros socios según su contexto profesional es diferente y es ahí donde nos enriquecemos y
				podemos dar servicios de mayor valor comercial. Imagínese un proceso que cumpla con estándares eficientes de
				Ingeniería, que comprenda las tendencias y de valor al servicio con fuente de Marketing y que todo esto a su vez
				sea respaldado por una amplia experiencia en Recursos Humanos y todo lo que esto encierra.</p>

				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estos somos nosotros y no podemos esperar el momento para trabajar con usted!</p>	
	   		</div>
        </div>
	</div>
</div>
<div class="parallax-wrapper parallax-about">
	<div class="parallax">
		<div class="overlay-parallax"></div>
		<div class="info-parallax about-slider">
			<div class="slider-parallax">
				<h1>Mision</h1>
				<p>Ser la empresa líder en brindar servicios de asesoría en Recursos Humanos y
				Liderazgo a nivel nacional e internacional, creando una fuerte relación con nuestros
				clientes basados en la confianza y nuestros demás valores comerciales.</p>
			</div>
			<div class="slider-parallax">
				<h1>Vision</h1>
				<p>Brindar un servicio de alta calidad llevando a nuestros clientes las soluciones más
				eficientes según sus necesidades. Enfocarnos en cada detalle de nuestro servicio de
				manera que sea 100% personalizado.</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="wrapper">
	 	<div class="header-wrapper">
			<span>Categories</span>
			<h2>Our Values</h2>
		</div>
 		<div class="tcvpb_section_content">
			<div class="tcvpb_container">
				<% @values.each do |value| %>
					<div class="values-wrapper">
						<div class="tcvpb_metro_box ">
							<div class="flipper">
								<div class="front white-background content-value">
									<%= image_tag value.image(:normal) %>
									<div class="overlay-values"></div>
									<div class="title-value">
										<h1><%= value.title %></h1>
									</div>
									<i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
								</div>
								<div class="back">
									<div class="content-back">
										<h3><%= value.title %></h3>
										<p><%= value.description%></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>