<div id="home-slider" class="home-slider">
	<div class="slide">
		<%= image_tag'banner1.jpg' %>
		<div class="home-slider-overlay"></div>
		<div class="home-slider-content">
  			<h2>We offer 1,259 job vacancies right now!</h2>
			<h5>Find your desire one in a minute</h5>
  		</div>
	</div>
	<div class="slide">
		<%= image_tag'banner2.jpg' %>
		<div class="home-slider-overlay"></div>
		<div class="home-slider-content">
  			<h2>We offer 1,259 job vacancies right now!</h2>
			<h5>Find your desire one in a minute</h5>
  		</div>
	</div>
	<div class="slide">
		<%= image_tag'banner3.jpg' %>
		<div class="home-slider-overlay"></div>
		<div class="home-slider-content">
  			<h2>We offer 1,259 job vacancies right now!</h2>
			<h5>Find your desire one in a minute</h5>
  		</div>
	</div>
</div>

<div>Juan Vega</div>