<div class="home-slider-wrapper">
	<div id="home-slider" class="home-slider">
		<% @slides.each do |slide| %>
			<div class="slide">
				<%= image_tag slide.background(:normal) %>
				<div class="home-slider-overlay"></div>
				<div class="home-slider-content">
		  			<h2><%= slide.title %></h2>
					<h5><%= slide.subtitle %></h5>
		  		</div>
			</div>
		<% end %>
	</div>
</div>

<div>
	<p>Juan Vega</p>
</div>