<div class="container">
	<div class="col-lg-12">
		<div class="page-head">
	        <h1>Services</h1>
	        <p>Say hi, drop a letter, and follow us in social media websites.</p>
	    </div>
	</div>
</div>

<div class="container">
	<div class="wrapper">
		<div class="services-wrapper">
			<div class="service">
				<div class="col-lg-12">
					<div class="header-service service-toogle">
						<h2>Popular Categories</h2>
					</div>
				</div>
				<div class="service-padding">
					<div class="serv-wrapper">
						<div class="col-sm-12 col-md-6 information-service">
							<div class="header-wrapper">
								<span>Categories</span>
								<h2>Popular categories</h2>
							</div>
							<p>Pellentesque et pulvinar orci. Suspendisse sed euismod purus. Pellentesque nunc ex, ultrices eu enim non, consectetur interdum nisl. Nam congue interdum mauris, sed ultrices augue lacinia in. Praesent turpis purus, faucibus in tempor vel, dictum ac eros.</p>
							<p>Nulla quis felis et orci luctus semper sit amet id dui. Aenean ultricies lectus nunc, vel rhoncus odio sagittis eu. Sed at felis eu tortor mattis imperdiet et sed tortor. Nullam ac porttitor arcu. Vivamus tristique elit id tempor lacinia. Donec auctor at nibh eget tincidunt. Nulla facilisi. Nunc condimentum dictum mattis.</p>
							<br><br>
							<a class="btn btn-primary btn-blue" href="page-typography.html">Learn more</a>
						</div>
						<div class="col-sm-12 col-md-6 image-service">
							<%= image_tag 'banner1.jpg' %>
						</div>
					</div>
				</div>
			</div>
			<div class="service">
				<div class="col-lg-12">
					<div class="header-service">
						<h2>Popular Categories</h2>
					</div>
				</div>
				<div class="service-padding">
					<div class="serv-wrapper">
						<div class="col-sm-12 col-md-6 information-service">
							<div class="header-wrapper">
								<span>Categories</span>
								<h2>Popular categories</h2>
							</div>
							<p>Pellentesque et pulvinar orci. Suspendisse sed euismod purus. Pellentesque nunc ex, ultrices eu enim non, consectetur interdum nisl. Nam congue interdum mauris, sed ultrices augue lacinia in. Praesent turpis purus, faucibus in tempor vel, dictum ac eros.</p>
							<p>Nulla quis felis et orci luctus semper sit amet id dui. Aenean ultricies lectus nunc, vel rhoncus odio sagittis eu. Sed at felis eu tortor mattis imperdiet et sed tortor. Nullam ac porttitor arcu. Vivamus tristique elit id tempor lacinia. Donec auctor at nibh eget tincidunt. Nulla facilisi. Nunc condimentum dictum mattis.</p>
							<br><br>
							<a class="btn btn-primary btn-blue" href="page-typography.html">Learn more</a>
						</div>
						<div class="col-sm-12 col-md-6 image-service">
							<%= image_tag 'banner1.jpg' %>
						</div>
					</div>
				</div>
			</div>
			<div class="service">
				<div class="col-lg-12">
					<div class="header-service">
						<h2>Popular Categories</h2>
					</div>
				</div>
				<div class="service-padding">
					<div class="serv-wrapper">
						<div class="col-sm-12 col-md-6 information-service">
							<div class="header-wrapper">
								<span>Categories</span>
								<h2>Popular categories</h2>
							</div>
							<p>Pellentesque et pulvinar orci. Suspendisse sed euismod purus. Pellentesque nunc ex, ultrices eu enim non, consectetur interdum nisl. Nam congue interdum mauris, sed ultrices augue lacinia in. Praesent turpis purus, faucibus in tempor vel, dictum ac eros.</p>
							<p>Nulla quis felis et orci luctus semper sit amet id dui. Aenean ultricies lectus nunc, vel rhoncus odio sagittis eu. Sed at felis eu tortor mattis imperdiet et sed tortor. Nullam ac porttitor arcu. Vivamus tristique elit id tempor lacinia. Donec auctor at nibh eget tincidunt. Nulla facilisi. Nunc condimentum dictum mattis.</p>
							<br><br>
							<a class="btn btn-primary btn-blue" href="page-typography.html">Learn more</a>
						</div>
						<div class="col-sm-12 col-md-6 image-service">
							<%= image_tag 'banner1.jpg' %>
						</div>
					</div>
				</div>
			</div>
			<div class="service">
				<div class="col-lg-12">
					<div class="header-service">
						<h2>Popular Categories</h2>
					</div>
				</div>
				<div class="service-padding">
					<div class="serv-wrapper">
						<div class="col-sm-12 col-md-6 information-service">
							<div class="header-wrapper">
								<span>Categories</span>
								<h2>Popular categories</h2>
							</div>
							<p>Pellentesque et pulvinar orci. Suspendisse sed euismod purus. Pellentesque nunc ex, ultrices eu enim non, consectetur interdum nisl. Nam congue interdum mauris, sed ultrices augue lacinia in. Praesent turpis purus, faucibus in tempor vel, dictum ac eros.</p>
							<p>Nulla quis felis et orci luctus semper sit amet id dui. Aenean ultricies lectus nunc, vel rhoncus odio sagittis eu. Sed at felis eu tortor mattis imperdiet et sed tortor. Nullam ac porttitor arcu. Vivamus tristique elit id tempor lacinia. Donec auctor at nibh eget tincidunt. Nulla facilisi. Nunc condimentum dictum mattis.</p>
							<br><br>
							<a class="btn btn-primary btn-blue" href="page-typography.html">Learn more</a>
						</div>
						<div class="col-sm-12 col-md-6 image-service">
							<%= image_tag 'banner1.jpg' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>