<div class="container">
	<div class="col-lg-12">
		<div class="page-head">
	        <h1>Services</h1>
	        <p>Say hi, drop a letter, and follow us in social media websites.</p>
	    </div>
	</div>
</div>

<div class="container">
	<div class="wrapper">
		<div class="services-wrapper">
			<% @services.each do |service| %>
				<div class="service">
					<div class="col-lg-12">
						<div class="header-service">
							<h2><%= service.title %></h2>
						</div>
					</div>
					<div class="service-padding">
						<div class="serv-wrapper">
							<div class="col-sm-12 col-md-6 information-service">
								<div class="header-wrapper">
									<h2><%= service.subtitle %></h2>
								</div>
								<p><%= service.description %></p>
							</div>
							<div class="col-sm-12 col-md-6 image-service">
								<%= image_tag service.image(:normal) %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>