<div class="alert fade in alert-danger ">
	<button type="button" class="close" data-dismiss="alert">×</button>
	User information is incomplete, you will not be able to apply for positions until you complete all profile sections.
</div>
