<div class="user-background header-active"></div>
<div class="container">
  <div class="col-lg-12">
    <%- model_class = User -%>
    <div class="page-head head-user">
      <%= render :partial => 'header_user' %>
    </div>

    <div class="wrapper-top">
      <%= link_to t('.profile'), profile_content_path(:id => @user.id), :class => "tablink user-profile-tab", :remote => true %>
      <%= link_to t('.applications'), profile_applications_path(:id => @user.id), :class => "tablink user-applications-tab", :remote => true %>
    </div>
  </div>
</div>
<div id="render-profile-view">
  <%= render :template => 'users/profile_content.html' %>
</div>