<%- model_class = Skill -%>
<div class="skill-form-wrapper">
	<div class="page-header">
	  <h2><%=t '.title', :default => [:'helpers.titles.new.female', 'New %{model}'], :model => model_class.model_name.human.titleize %></h2>
	</div>
	<%= render :partial => 'form' %>
</div>
