<div class="container">
  <div class="col-lg-12">
    <div class="page-head">
      <h1>Error 404</h1>
      <p><%= t('.not_found')%></p>
    </div>
    <div class="wrapper return-home-link">
    	<%= link_to t('errors.shared.return_home'), root_path, :class => "btn btn-success btn-green" %>
    </div>
  </div>
</div>