/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self

 *= require slick
 *= require slick-theme
 */


body{
	font-family: Open Sans,sans-serif;
    color: #7e8890;
    background-color: #fafafa;

}

tbody img{
	width: 200px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald,sans-serif;
    letter-spacing: 1px;
    margin: 16px 0;
    line-height: 1.4;
}

h2 {
    font-size: 37px;
    color: #7e8890;
}

h4 {
	font-size: 25px;
}

h5 {
    font-size: 20px;
}

hr{
	border-top-color: #bbb;
    opacity: .1;
}

.animation-wrapper{
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
    opacity: 0;
}

.btn-blue{
	height: 44px;
    line-height: 44px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: 0 30px;
    color: #fff;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    background-color: #29aafe;
    border: none;
}

.white-background{
	background-color: #fff;
}

.section-wrapper{
	padding: 96px 0;
}

.wrapper-bottom{
	padding-bottom: 100px;
}

.wrapper{
	padding: 100px 0;
	overflow: auto;
}

/************************************DEVISE***********************************/

.col-lg-6{

	.panel-default{
		position: relative;
    	top: -90px;
    	margin-bottom: -90px;
    	-webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.07);
    	box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.07);
	}
}

/************************************NAVIGATION***********************************/

.nav-bar{
	position: absolute;
    width: 100%;
	text-align: center;
	margin-top: 20px;
	font-family: Open Sans,sans-serif;
	letter-spacing: 1px;
	-webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
}

.nav-bar-white{
	background-color: #fff;
	position: fixed;
	top: -20px;
	width: 100%;
	-webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);

	a{
		color: #000 !important;
	}
}

.nav-center{
	text-align: center;
	display: inline-block !important;

}

.nav-right{
	float: right;
	display: inline-block;

	i{
		font-size: 28px;
		position: relative;
		margin-top: -5px;
	}
}

.nav-left{
	float: left;
	display: inline-block;
}


.nav-center,
.nav-right{
	a{
	    font-weight: 500;
	    opacity: 0.6;
	    transition: opacity 0.3s ease-in-out;

	    &:hover{
	    	color: rgb(255, 255, 255);
    		opacity: 1;
	    }
	}
}

.active{
	color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
}

/************************************NAVIGATION***********************************/

.home-slider-wrapper{
	.slick-slider{
		margin-bottom: 0px;
	}
}

.home-slider{

	.slick-dots{
		position: absolute;
	    bottom: 15px;
	}

	overflow: hidden;

	img{
		width: 100%;
	}

	
}

.home-slider-overlay{
	background-color: rgba(0,24,40,.55);
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-slider-content{
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20% 0 20%;
    text-align: center;

    h2{
    	color: #fff;
    }

    h5{
    	color: #fff;
    	font-family: Open Sans,sans-serif;
    }
}

/************************************SLIDER GENERAL***********************************/


.about-slider,
.home-slider{
	.slick-dots{

	    li{
			color: #fff;
			background-color: #fff;
			border: 1px solid #fff;
			border-radius: 12px;
			height: 10px;
			width: 10px;
			margin-bottom: 10px;

			button{
				display: none;
			}
		}

		.slick-active{
			background-color: #3097D1;
			border: 1px solid #3097D1;
		}
	}
}

/************************************HEADER***********************************/

.header-wrapper{
	text-align: center;
	margin-bottom: 72px;

	h2{
		position: relative;
    	margin-bottom: 48px;
    	color: #55595c;
    	text-transform: capitalize;

    	&:after{
    		position: absolute;
		    left: 50%;
		    margin-left: -24px;
		    bottom: -26px;
		    width: 48px;
		    height: 2px;
		    background-color: #29aafe;
		    content: "";
    	}
	}

	span{
		color: #c8d0d7;
    	font-family: Montserrat,sans-serif;
    	font-size: 12px;
    	letter-spacing: 2px;
    	text-transform: uppercase;
	}

	p{
		font-size: 18px;
	}
}

.header-background{
	background-image: url('bannerh.jpg');
}

.contact-background{
	background-image: url('banner1.jpg');
}

.about-background{
	background-image: url('banner1.jpg');
}

.about-background,
.contact-background,
.header-background{
	height: 350px;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	position: relative;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0;

    &:before{
    	background-color: rgba(0,0,0,.55);
    	position: absolute;
	    content: "";
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
    }
}


/************************************PAGE-HEADER***********************************/

.page-head{
	text-align: center;
	position: relative;
	top: -104px;
	margin-bottom: -104px;
    z-index: 1;
    background-color: #fff;
    padding: 30px 30px 20px;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.07);


    h1{
    	position: relative;
    	margin-bottom: 40px;

    	&:after{
    		position: absolute;
		    content: '';
		    bottom: -20px;
		    left: 50%;
		    margin-left: -25px;
		    width: 50px;
		    height: 2px;
		    border-radius: 2px;
		    background-color: #29aafe;
    	}
    }

    p{
    	font-size: 18px;
    	line-height: 30px;
    	margin-bottom: 20px;
    }
}

/************************************HOME-SERVICES***********************************/

.services-grid{
	a{
		display: inline-block;
	    float: left;
	    padding: 30px 20px;
	    margin-bottom: 30px;
	    text-align: center;
	    border: 1px solid #eee;
	    color: #7e8890;
	    background-color: #fff;
	    -webkit-transition: .3s ease-in-out;
	    -o-transition: .3s ease-in-out;
	    transition: .3s ease-in-out;
	    text-decoration: none;
	    width: 100%;

	    &:hover{
	    	color: #fff;
		    background-color: #29aafe;
		    border-color: #29aafe;
		    -webkit-box-shadow: 0 5px 65px 0 rgba(0,0,0,.15);
		    box-shadow: 0 5px 65px 0 rgba(0,0,0,.15);

			p, h6{
		    	color: #fff;

		    	&:after{
		    		background-color: #fff;
		    	}
		    }
	    }

	}

	i{
		font-size: 40px;
	    color: #29aafe;
	    background-color: #fff;
	    border-radius: 100%;
	    display: inline-block;
	    width: 80px;
	    height: 80px;
	    line-height: 80px;
	    text-align: center;
	    margin-bottom: 10px;
	}

	h6{
		position: relative;
	    color: #55595c;
	    font-size: 21px;
	    margin-bottom: 40px;
	    -webkit-transition: .1s ease-in-out;
	    -o-transition: .1s ease-in-out;
	    transition: .1s ease-in-out;

	    &:after{
	    	position: absolute;
		    content: '';
		    bottom: -20px;
		    left: 50%;
		    margin-left: -15px;
		    width: 30px;
		    height: 2px;
		    border-radius: 2px;
		    background-color: #c8d0d7;
	    }	    
	}

	p{
		color: #96a2b2;
	    font-size: 14px;
	    line-height: 24px;
	    display: block;
	    height: 3.5em;	
	}
}

.service-wrapper{
	padding: 0 15px 0 15px;
}


/************************************CONTACT************************************/

.contact-wrapper{
	overflow: auto;
	clear: both;

	h4{
		font-family: sans-serif;
	}

	input{
		height: 52px;
	}

	textarea {
	    resize: none;
	}

	input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    	color: #c1c3c3;
	}

	input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: #c1c3c3;
	}

	input::-ms-input-placeholder { /* Microsoft Edge */
	    color: #c1c3c3;
	}

	textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    	color: #c1c3c3;
	}

	textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: #c1c3c3;
	}

	textarea::-ms-input-placeholder { /* Microsoft Edge */
	    color: #c1c3c3;
	}
}

.message_errors{
	clear: both;
	text-align: center;
}

.message_notice{
	display: none;
	background-color: #29aafe;
	padding: 20px 0 20px 0;
	color: #fff;
	border-radius: 4px;
	font-size: 16px;
}

.message_warning{
	display: block;
}

.form-contact{
	color: #818a91;
    line-height: 28px;
    font-size: 16px;
    background-color: #fcfcfc;
    border-radius: 0;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
    border: 1px solid #dfe5e7;
	-webkit-transition: all .3s linear 0s;
	-khtml-transition: all .3s linear 0s;
	-moz-transition: all .3s linear 0s;
	-ms-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-bmox-shadow: 0 0 0px 1000px white inset;
	outline: none;
	padding: 6px 14px 6px 14px;

	&:hover{
		border-color: #29aafe;
	}

	&:focus{
		border-color: #29aafe;
	}
}

.information-wrapper {
    padding: 20px;
    background-color: #fafafa;

	span{
		display: block;
		padding: 1px 0;
	}

	i{
		width: 40px;
	    text-align: left;
	    padding: 4px 0;
	    font-size: 16px;
	    line-height: 25px;
	}
}

.social-information{
	padding-top: 10px;
	padding-left: 0;

	li{
		display: inline-block;
    	margin-bottom: 4px;

		a{
			font-size: 16px;
			background-color: #eceeef;
    		color: #818a91;
    		text-align: center;
    		margin-right: 8px;
    		border-radius: 100%;
    		line-height: 40px;
		    height: 40px;
		    width: 40px;
		    display: block;
		    -webkit-transition: all .2s linear;
		    -o-transition: all .2s linear;
		    transition: all .2s linear;

		    &:hover{
		    	background-color: #29aafe;
		    	color: #fff;
		    }
		}
	}
}





/************************************SCROLL-TOP***********************************/

.scroll-top{
	cursor: pointer;
	position: fixed;
    bottom: 30px;
    right: 30px;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    opacity: 0;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    color: #fff;
    background-color: #29aafe;

   	i{
   		display: block;
    	padding-left: 1px;
    	font-size: 37px;
    	position: relative;
    	top: 2px;
   	}
}

.scroll-top-show{
	opacity: .6;

	&:hover{
    	opacity: 1;
    }
}

/************************************ALERTS***********************************/


.alert-max-width{
	max-width: 1140px;
}


/************************************SERVICES***********************************/

.serv-wrapper{
	clear: both;
    overflow: auto;
    position: relative;

    .header-wrapper{
    	text-align: left;

    	h2{
    		&:after{
    			left: 0;
    			margin-left: 0;
    		}
    	}
    }
}

.image-service{
	overflow: hidden;
	text-align: center;
    overflow: hidden;
    position: absolute;
    height: 100%;
    right: 15px;

	img{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -khtml-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    text-align: center;
	    overflow: hidden;
	    position: absolute;
	    height: 100%;
	}
}

.information-service{
	font-size: 16px;
	text-align: justify;
}

.service{

	.service-padding{
		clear: both;
		padding-bottom: 70px;
		padding-top: 70px;
		display: none;
		height: inherit;
		position: re
	}

    &:nth-child(odd){
	    .information-service{
	    	float: right;

			.header-wrapper{
		    	text-align: right;

		    	h2{
		    		&:after{
		    			right: 0;
		    			margin-right: 0;
		    			left: unset;
		    		}
		    	}
		    }
		    .btn-blue{
		    	float: right;
		    }
	    }

	    .image-service{
	    	left: 0;
	    	border-right: 15px solid transparent;
	    	border-left: 15px solid transparent;
	    }
	}

	&:nth-child(even){
	    .image-service{
	    	border-left: 30px solid transparent;
	    }
	}
}

.service{

	&:first-child{
		.service-padding{
			display: block;
	    }
	}

	&:last-child{
		.service-padding{
	    }
	}
}

.header-service{
	opacity: 1;
	background-color: #29aafe;
	text-align: center;
	padding: 15px 0;
	cursor: pointer;
	border-bottom: 1px solid #fff;
	-webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

	h2{
		color: #fff;
		margin: 0;
	}
}

.service-toogle{
	opacity: 0.6;
}

/************************************ABOUT***********************************/

.history-about{
	text-align: justify;

	h5{
		font-size: 25px;
	}

	p{
		font-size: 16px;
    	line-height: 28px;
	}
}

.parallax-about{
	position: static;
    background-image: asset-url("rock.jpg");
    background-position: 50% 0;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.parallax{
	position: relative;
    padding: 150px 0;
    height: 100%;
}

.overlay-parallax{
	background-color: rgba(0,0,0,0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-parallax{
	text-align: center;
	color: #fff;
}

.slider-parallax{
	padding-left: 20%;
	padding-right: 20%;

	p{
    	font-size: 26px;
    	line-height: 32px;
    	font-weight: 300;
    	font-style: italic;
	}
}

/************************************FOOTER***********************************/


footer{
	background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 14px;
    line-height: 24px;
    color: #bbb;

    .social-information{
    	float: right;
    	a{
    		background-color: #33353d;
    		margin-right: 0 !important;
    		margin-left: 8px;
    	}
    }

    .copyright{
    	margin-top: 17px;
    }

    h6{
    	color: #fff;
	    font-size: 15px;
	    text-transform: uppercase;
	    margin-top: 0;
	    letter-spacing: 2px;
	    font-family: Open Sans,sans-serif;
    }

    .about-footer{
    	h6{
    		text-align: right;
    	}
    }
}

.footer-bar{
	list-style-type: none;
	padding-left: 0;

		a{
			text-decoration: none;
			color: #bbb;

			&:hover{
				color: white !important;
			}
		}
}











