<footer class="site-footer">

      <!-- Top section -->
      <div class="container">
        <div class="row">
          

          <div class="col-xs-6 col-md-3">
            <h6>Telescope</h6>
            <ul class="footer-bar">
              <%= render 'layouts/nav_bar' %>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Telescope</h6>
            <ul class="footer-bar">
              <%= render 'layouts/nav_bar' %>
            </ul>
          </div>

          <div class="col-sm-12 col-md-6 about-footer">
            <h6>About</h6>
            <p class="text-justify">An employment website is a web site that deals specifically with employment or careers. Many employment websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards. Other employment sites offer employer reviews, career and job-search advice, and describe different job descriptions or employers. Through a job website a prospective employee can locate and fill out a job application.</p>
          </div>
        </div>

        <hr>
      </div>
      <!-- END Top section -->

      <!-- Bottom section -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12 copyright">
            <small>Developed by BackyardLinks ©</small>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <%= render 'layouts/nav_social' %>
          </div>
        </div>
      </div>
      <!-- END Bottom section -->

    </footer>